API/bin/Debug/net5.0/API.deps.json
API/bin/Debug/net5.0/API.dll
API/bin/Debug/net5.0/API.pdb
API/bin/Debug/net5.0/Application.dll
API/bin/Debug/net5.0/Application.pdb
API/bin/Debug/net5.0/Domain.dll
API/bin/Debug/net5.0/Domain.pdb
API/bin/Debug/net5.0/Persistence.dll
API/bin/Debug/net5.0/Persistence.pdb

